.app{
  min-width: 100vh;
  background:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forsikring{
  height: 800px;
  width: 400px; 
  background: rgba(244,242,239,255);
  border: 30px;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
}

.text{
  text-align: left;
}

img {
  height: 400px;
}